<div class="d-flex align-items-center">
    <div class="d-flex flex-column">

        <ul class="list-group list-group-flush ">
            <li class="list-group-item list-group-item-info"><a href="{{ path('blog_list') }}" >Liste des posts</a></li>

        </ul>

    </div>

</div>